<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <!-- style -->
  <link rel="stylesheet" href="/style/reset.css">
  <link rel="stylesheet" href="/style/main.css">
  <link rel="stylesheet" href="/style/baseof.css">
  <!-- JS -->
  <script src="/script/main.js" defer></script>
  <!-- SNS -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Tasy" />
  <meta name="twitter:site" content="@tasy_fr" />
  <meta name="twitter:creator" content="@tasy_fr" />
  <meta property="og:image" content="/logo_sns.png" />
  <meta name="twitter:image" content="/logo_sns.png" />
  {{ block "head" .}}
  <title>Tasy</title>
  <meta property="og:url" content="http://tasy.fr" />
  <meta property="og:title" content="Tasy" />
  <meta name="twitter:title" content="Tasy" />
  <meta name="description" content="DESCRIPTION" />
  <meta property="og:description" content="DESCRIPTION" />
  <meta name="twitter:description" content="DESCRIPTION" />
  {{ end }}
</head>

<body class="site-wrapper">
  <header class="site-header" id="top">
    <a href="/" class="logo">
      <img src="/logo.svg" alt="logo de Tasy">
      <span class="site-name">Tasy</span>
    </a>
  </header>

  <main class="site-main">
    {{ block "main" . }}
    {{ end }}
  </main>

  <footer class="site-footer">
    <span id="copyright-year"></span>
  </footer>

  <a href="#top" class="to-top">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 20c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m0 2c5.52 0 10-4.48 10-10S17.52 2 12 2S2 6.48 2 12s4.48 10 10 10zm-1-10v4h2v-4h3l-4-4l-4 4h3z"></path>
    </svg>
  </a>

</body>

</html>