{{ define "head"}}
<link rel="stylesheet" href="/style/home.css">
<title>Tasy - {{ .Title }}</title>
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="Tasy - {{ .Title }}" />
<meta name="twitter:title" content="Tasy - {{ .Title }}" />
<meta name="description" content="Liste de tous les articles liés au sujet : {{ .Title }}" />
<meta property="og:description" content="Liste de tous les articles liés au sujet : {{ .Title }}" />
<meta name="twitter:description" content="Liste de tous les articles liés au sujet : {{ .Title }}" />
{{ end }}

{{ define "main"}}

<!-- Description -->
<h1 class="home-title">{{ .Title }}</h1>
{{ if .Content }}
<section class="list-description">
  {{ .Content }}
</section>
{{ end }}

<div class="home">
  {{ range .Pages }}
  <article class="home-card">
    <header>
      <!-- title -->
      <h2>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
    </header>
    <!-- description -->
    {{ if .Description }}
    <section class="home-card-description">
      {{.Description}}
    </section>
    {{ end }}
    <!-- tags -->
    {{ if .Params.tags }}
    <footer class="home-card-tags">
      {{ range .Params.tags }}
      <a href="{{ `/tags/` | relLangURL }}{{ . | urlize }}">
        {{ . }}
      </a>
      {{ end }}
    </footer>
    {{ end }}
  </article>
  {{ end }}
</div>
{{ end }}