{{ define "head"}}
<link rel="stylesheet" href="/style/single.css">
<title>Tasy - {{ .Title }}</title>
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="Tasy - {{ .Title }}" />
<meta name="twitter:title" content="Tasy - {{ .Title }}" />
<meta name="description" content="{{ .Description }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta name="twitter:description" content="{{ .Description }}" />
{{ end }}

{{ define "main"}}
<h1 class="page-title">{{ .Title }}</h1>
<!-- date -->
{{ $month_names := slice "janvier" "février" "mars" "avril" "mai" "juin" "juillet" "août" "septembre" "octobre" "novembre" "décembre" }}
{{ $month := sub .Date.Month 1 }}
<em class="page-date">
  Publié le <time datetime="{{ .Date.Format `2006-01-02`}}">
    {{ .Date.Day }}{{ if eq .Date.Day 1 }}er{{end}}&nbsp;{{ index $month_names $month }} {{ .Date.Year }}
  </time>
</em>

<section class="page-content">
  {{ .Content }}
</section>
{{ end }}