{{ define "head"}}
<link rel="stylesheet" href="/style/home.css">
<!-- SNS -->
<title>Tasy</title>
<meta property="og:url" content="http://tasy.fr" />
<meta property="og:title" content="Tasy" />
<meta name="twitter:title" content="Tasy" />
<meta name="description" content="Résumés de cours de mon parcours d'apprentissage du développement web." />
<meta property="og:description" content="Résumés de cours de mon parcours d'apprentissage du développement web." />
<meta name="twitter:description" content="Résumés de cours de mon parcours d'apprentissage du développement web." />
{{ end }}

{{ define "main"}}
{{ if .Content }}
<section>
  {{ .Content }}
</section>
{{ end }}

<h1 class="home-title">Tous les articles</h1>
<div class="home">
  {{ range .Site.RegularPages }}
  <article class="home-card">
    <header>
      <!-- title -->
      <h2>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
    </header>
    <!-- description -->
    {{ if .Description }}
    <section class="home-card-description">
      {{.Description}}
    </section>
    {{ end }}
    <!-- tags -->
    {{ if .Params.tags }}
    <footer class="home-card-tags">
      {{ range .Params.tags }}
      <a href="{{ `/tags/` | relLangURL }}{{ . | urlize }}">
        {{ . }}
      </a>
      {{ end }}
    </footer>
    {{ end }}
  </article>
  {{ end }}
</div>
{{ end }}