.site-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.site-header {
  padding: 2rem 0;
  text-align: center;
}
.site-header > .logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  transition: transform 200ms ease-in-out;
}
.site-header > .logo:hover {
  transform: scale(1.03);
}
.site-header > .logo::after {
  content: none;
}
.site-header > .logo img {
  width: 3rem;
}
.site-header > .logo .site-name {
  font-size: 2.5rem;
  font-family: var(--font-titles);
}
.site-main {
  max-width: 800px;
  margin: 0 5%;
  justify-self: center;
}
.site-footer {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
}
.to-top {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
}
