.home {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  list-style: none;
}
.home-card {
  display: block;
  background-color: #2e2e33;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
}
.home-card h2 a {
  color: var(--color-emph);
  position: relative;
}
.home-card h2 a::after {
  content: "";
  border-bottom: 2px solid var(--color-emph);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: center;
  transform: scaleX(0);
  opacity: 0;
  transition: all 200ms;
}
.home-card h2 a:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.home-card-description {
  padding: 0.5rem 0;
}
.home-card-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.home-card-tags a {
  padding: 0 1rem;
  border-radius: 1em;
  background-color: var(--color-light);
  opacity: 0.5;
  color: var(--color-dark);
  font-size: 0.8rem;
  font-weight: bold;
  transition: opacity 200ms ease-in-out;
}
.home-card-tags a:hover {
  opacity: 1;
}
